/*TODO
Fixa sidebar*/


body{
    margin :0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.header{
    display: grid;
    grid-column-start: 2;
    background-color: white;
}

.sidebar{
    display: grid;
    grid-template-rows: 1fr 3fr 4fr;
    grid-row: 1 / 3;
    background-color: rgb(22, 32, 26);
    padding-right: 20px;
}


.firstSidebarList li, .secondSidebarList li, .dashboard li{
    list-style: none;
    font-size: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    align-self: start;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dashboard li{
    font-size: 36px;
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.firstSidebarList img, .secondSidebarList img{
    width: 2rem;
}
.dashboard img{
    width: 3rem;
}
 




/*Mid section*/
.midContainer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 15fr;
    background-color: rgb(225, 226, 230);
}

.projectsTitle{
    margin: 0;
    font-size: 26px;
    padding: 20px 0px 0px 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Left side of mid section*/
.cardContent{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-column: 1;
    gap: 20px;
    padding: 40px 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card{
    min-height: 150px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);

}

/*Right side of mid section*/
.rightContent{
    display: grid;
    grid-column: 2;
    gap: 20px;
    padding: 50px 50px 50px 0px; /*fult?*/
}

.announcements, .trending{
    display: grid;
    background-color: white;
}